<span class="mobile btn-mobile-menu">
  <i class="icon icon-list btn-mobile-menu__icon"></i>
  <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i>
</span>

<header class="panel-cover" style="background-image: url({{ site.baseurl }}/images/2019_cover.jpg)">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">
        <a href="{{ site.baseurl }}/" title="{{ site.title }}">
          <!-- <img src="{{ site.baseurl }}/images/sgamlogo.png" class="user-image" alt="SGAM Logo"> -->
          <!-- <h1 class="panel-cover__title panel-title">{{ site.title }}</h1> -->
          {% include logosvg.html %}
        </a>
        <hr class="panel-cover__divider">
        <div class="panel-cover__description">
        <p style="margin-bottom: 0px">
            A concerted effort of the <a 
            href="{% post_url 2018-10-20-gplus_sunset %}" 
            style="color: red;">Lone Wolf Role-Playing</a> community, 
            <strong>SGAM</strong> occurs for 
            the duration of <strong>November</strong>, and is dedicated to the 
            enjoyment of <strong>solitaire tabletop gaming</strong>.
        </p>
        <p style="text-align: center; padding: 2em; margin-bottom: 0px;" class="animated pulse">
            <a href="{{ site.baseurl }}/sgam2020"
               style="cursor: pointer;"
               class="btn btn-large">
                <i class="icon icon-die-one"></i> SGAM 2020
            </a>
        </p>
        <p>
            Use the <a href="https://twitter.com/hashtag/SGAM" style="color: red;">#SGAM</a> and
            <a href="https://twitter.com/hashtag/SGAM{{ site.time | date: '%Y' }}" style="color: red;">#SGAM{{ site.time | date: '%Y' }}</a> 
            tags on <a href="{% post_url 2018-10-20-gplus_sunset %}" style="color: red;">social media</a> to join in!
        </p>
        </div>
        <hr class="panel-cover__divider panel-cover__divider--secondary">

        <div class="navigation-wrapper">

          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
                <li class="navigation__item"><a href="{{ site.baseurl }}/news" title="SGAM News">News</a></li>
                <li class="navigation__item"><a href="{{ site.baseurl }}/about" title="About SGAM">What is SGAM?</a></li>
            </ul>
            <ul>
              <li class="navigation__item"><a href="{{ site.baseurl }}/sgam2019" title="SGAM2019">SGAM 2019</a></li>
              <li class="navigation__item"><a href="{{ site.baseurl }}/sgam2018" title="SGAM2018">SGAM 2018</a></li>
              <li class="navigation__item"><a href="{{ site.baseurl }}/sgam2017" title="SGAM2017">SGAM 2017</a></li>
            </ul>
          </nav>

          <nav class="cover-navigation navigation--social">
            <ul class="navigation">

            {% if site.author.twitter_username %}
              <!-- Twitter -->
              <li class="navigation__item">
                <a href="http://twitter.com/{{ site.author.twitter_username }}" title="@{{ site.author.twitter_username }} on Twitter" target="_blank">
                  <i class="icon icon-social-twitter"></i>
                  <span class="label">Twitter</span>
                </a>
              </li>
            {% endif %}

            {% if site.author.facebook_username %}
              <!-- Facebook -->
              <li class="navigation__item">
                <a href="http://fb.me/{{ site.author.facebook_username }}" title="{{ site.author.facebook_username }} on Facebook" target="_blank">
                  <i class="icon icon-social-facebook"></i>
                  <span class="label">Facebook</span>
                </a>
              </li>
            {% endif %}

            {% if site.author.linkedin_username %}
              <!-- LinkedIn -->
              <li class="navigation__item">
                <a href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}" title="{{ site.author.linkedin_username }} on LinkedIn" target="_blank">
                  <i class="icon icon-social-linkedin"></i>
                  <span class="label">LinkedIn</span>
                </a>
              </li>
            {% endif %}
                      
            {% if site.author.github_username %}
              <!-- GitHub -->
              <li class="navigation__item">
                <a href="https://www.github.com/{{ site.author.github_username }}" title="{{ site.author.github_username }} on GitHub" target="_blank">
                  <i class="icon icon-social-github"></i>
                  <span class="label">GitHub</span>
                </a>
              </li>
            {% endif %}

            {% if site.author.email %}
              <!-- Email -->
              <li class="navigation__item">
                <a href="mailto:{{ site.author.email }}" title="Email {{ site.author.email }}" target="_blank">
                  <i class="icon icon-mail"></i>
                  <span class="label">Email</span>
                </a>
              </li>
            {% endif %}

            <!-- RSS -->
            <li class="navigation__item">
              <a href="{{ site.baseurl }}/feed.xml" title="Subscribe" target="_blank">
                <i class="icon icon-rss"></i>
                <span class="label">RSS</span>
              </a>
            </li>

            </ul>
          </nav>

        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>
